@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow Bold";
  src: url("../fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow Italic";
  src: url("../fonts/Barlow-Italic.ttf");
}
@font-face {
  font-family: "Barlow Regular";
  src: url("../fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Orbitron Black";
  src: url("../fonts/Orbitron-Black.ttf");
}
@font-face {
  font-family: "Space Grotesk Regular";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "Outfit Bold";
  src: url("../fonts/Outfit-Bold.ttf");
}
@font-face {
  font-family: "Outfit Regular";
  src: url("../fonts/Outfit-Regular.ttf");
}