@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Phage Regular";
  src: url("../fonts/Phage\ Regular.woff2");
}

.customFont-PhageRegular {
  font-family: "Phage Regular", "Arial Narrow Bold", sans-serif;
}
